.taskView {
    display: flex;
    margin-top: 2.5em;
    padding: 1em;
    border: 0.2em solid #333;
    border-radius: 0.5em;
    background-color: #258750;
}

.taskView > input[type=checkbox] {
    zoom: 1.5;
}

.taskView > h2 {
    flex: 0.9;
    text-align: center;
    color: rgb(255, 240, 240);
}

.marked {
    text-decoration: line-through 0.15em black;
}

.taskView-buttons {
    flex: 0.1;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.taskView-editButton, .taskView-deleteButton, .taskView-pinButton {
    cursor: pointer;
}

.taskView-editButton:hover {
    background-color: #f6ff74;
}

.taskView-deleteButton:hover {
    background-color: #ff5c5c;
}