.task-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #effff6;
    border: 0.12em solid #777;
    border-radius: 1em;
    padding: 2em;
}

.task-create > h1 {
    margin-bottom: 0.6em;
    color: #333;
}

.task-create > input {
    margin-bottom: 1.5em;
    background-color: #d1deff22;
    color: #253b6e;
    outline-color: #333;
}

.task-create > input:focus {
    color: black;
}

.task-create >  button {
    color: white;
    background-color: #0f984b;
    cursor: pointer;
}

.task-create >  button:hover {
    /* color: black; */
    background-color: #063267ee;
}

.task-create > input, .task-create >  button {
    text-align: center;
    width: 90%;
    height: 2em;
    border-radius: 0.5em;
    font-size: large;
    font-weight: 600;
}