.create__form {
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #888;
    background-color: #e5e2fc;
    margin-left: 25%;
    margin-right: 25%;
}

.create__input {
    text-align: center;
    width: 80%;
    margin: 5px;
    font-size: large;
    border-radius: 10px;
}

.create__taskDescription {
    text-align: left;
    text-indent: 2%;
    width: 80%;
    margin: 5px;
    border-radius: 10px;
    font-size: large;
}