.view-task {
    display: flex;
    margin-top: 2.5em;
    padding: 1em;
    border: 0.2em solid #333;
    border-radius: 0.5em;
    background-color: rgb(151, 255, 218);
}

.view-task > input[type=checkbox] {
    zoom: 1.5;
}

.view-task > h2 {
    flex: 0.9;
    text-align: center;
    color: #222;
}

.marked {
    text-decoration: line-through 0.15em black;
}

.view-buttons {
    flex: 0.1;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.view-editButton, .view-deleteButton, .view-pinButton {
    cursor: pointer;
}

.view-editButton:hover {
    background-color: #f6ff74;
}

.view-deleteButton:hover {
    background-color: #ff5c5c;
}