.create-task {
    background-color: #eee;
    border: solid .2rem;
    border-radius: 3rem;
    padding: 2rem;
    padding-top: 0rem;
}

.create-task input, .create-task button, .create-task textarea {
    margin: .4rem;
    padding: .8rem;
    width: 100%;
    border-radius: .8rem;
    line-height: 1.2rem;
    letter-spacing: .04rem;
}

.create-task h1 {
    margin-top: 0.5rem;
    text-align: center;
}

.create-taskTitle {
    text-align: center;
}

.create-taskDescription {
    height: 5rem;
    resize: none;
}

.create-taskButton {
    background: #39e68f;
    color: #501d1d;
    font-weight: 600;
}